{{#if showCheatSheet}}
  {{#modal-dialog
      container-class='KeyboardCheatSheet'
      overlay-class='KeyboardCheatSheet-overlay'
      translucentOverlay=true
  }}
  <h3 class="KeyboardCheatSheet-header">Keyboard Shortcuts</h3>
  <div class="KeyboardCheatSheet-shortcut">
    <div class="KeyboardCheatSheet-shortcutKeys">
      <span class="KeyboardCheatSheet-shortcutKey">g</span>
      <span class="KeyboardCheatSheet-shortcutKey">h</span>
    </div>
    <div class="KeyboardCheatSheet-shortcutFunction">
      Go to Homepage
    </div>
  </div>
  <div class="KeyboardCheatSheet-shortcut">
    <div class="KeyboardCheatSheet-shortcutKeys">
      <span class="KeyboardCheatSheet-shortcutKey">g</span>
      <span class="KeyboardCheatSheet-shortcutKey">b</span>
    </div>
    <div class="KeyboardCheatSheet-shortcutFunction">
      Go to Blog
    </div>
  </div>
  <div class="KeyboardCheatSheet-shortcut">
    <div class="KeyboardCheatSheet-shortcutKeys">
      <span class="KeyboardCheatSheet-shortcutKey">?</span>
    </div>
    <div class="KeyboardCheatSheet-shortcutFunction">
      Show Cheat Sheet
    </div>
  </div>
  <div class="KeyboardCheatSheet-shortcut">
    <div class="KeyboardCheatSheet-shortcutKeys">
      <span class="KeyboardCheatSheet-shortcutKey">escape</span>
    </div>
    <div class="KeyboardCheatSheet-shortcutFunction">
      Close Cheat Sheet
    </div>
  </div>
  {{/modal-dialog}}
{{/if}}